/* index.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #007bff, #88bfcf); /* Degradado azul */
  min-height: 100vh;
  color: #ffffff;
}

#root {
  min-height: 100vh;
}
